body {
    background-color: #263031;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #f1f1f1;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #cfd8dc;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;

}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 16px 26px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;

}

button:hover {
    background-color: #0b5ed7;

}